Django==5.1.7
psycopg==3.1.18
dj-database-url==1.0.0
gunicorn
whitenoise==6.6.0
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2025.1
django-crispy-forms==2.4
crispy-bootstrap4==2024.10
pillow==11.1.0
python-dotenv==1.0.1
django-cloudinary-storage==0.3.0
cloudinary==1.44.1

